<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CatchException.NET45" publicKeyToken="812fc64448dc5e8f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6285.34856" newVersion="2.0.6285.34856" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>